
<div class="w-full shadow shadow stats">
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Games</div>
    <div class="stat-value"><%= @games.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Players</div>
    <div class="stat-value"><%= @players.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Teams</div>
    <div class="stat-value"><%= @teams.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Player Stats</div>
    <div class="stat-value"><%= @player_stats.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Team Stats</div>
    <div class="stat-value"><%= @team_stats.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Game Stats</div>
    <div class="stat-value"><%= @game_stats.count %></div>
  </div>

  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Game Events</div>
    <div class="stat-value"><%= @game_events.count %></div>
  </div>
</div>
