<%= turbo_stream_from @games %>
<%= turbo_stream_from @players %>
<%= turbo_stream_from @teams %>
<%= turbo_stream_from @player_stats %>
<%= turbo_stream_from @team_stats %>
<%= turbo_stream_from @game_stats %>
<%= turbo_stream_from @game_events %>

<div class="w-full shadow shadow stats">
  <%= turbo_frame_tag "games" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Games</div>
    <div class="stat-value"><%= @games.count %></div>
    <div class="stat-desc"><%= @games.map(&:season).uniq.count %> seasons tracked</div>
  </div>
  <% end %>

  <%= turbo_frame_tag "players" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Players</div>
    <div class="stat-value"><%= @players.map(&:nrl_id).uniq.count %></div>
  </div>
  <% end %>

  <%= turbo_frame_tag "teams" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Teams</div>
    <div class="stat-value"><%= @teams.count %></div>
  </div>
  <% end %>

  <%= turbo_frame_tag "player_stats" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Player Stats</div>
    <div class="stat-value"><%= @player_stats.count %></div>
    <div class="stat-desc"><%= @player_stats.map(&:name).uniq.count %> unique stat types</div>
  </div>
  <% end %>

  <%= turbo_frame_tag "team_stats" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Team Stats</div>
    <div class="stat-value"><%= @team_stats.count %></div>
    <div class="stat-desc"><%= @team_stats.map(&:name).uniq.count %> unique stat types</div>
  </div>
  <% end %>

  <%= turbo_frame_tag "game_stats" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Game Stats</div>
    <div class="stat-value"><%= @game_stats.count %></div>
    <div class="stat-desc"><%= @game_stats.map(&:name).uniq.count %> unique stat types</div>
  </div>
  <% end %>

  <%= turbo_frame_tag "game_events" do %>
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Game Events</div>
    <div class="stat-value"><%= @game_events.count %></div>
    <div class="stat-desc"><%= @game_events.map(&:name).uniq.count %> unique event types</div>
  </div>
  <% end %>
</div>
