<%= turbo_frame_tag dom_id(game) do %>
  <tr>
    <td><p class="font-semibold"><%= game.title.gsub!("-", " ") %></p></td>
    <td><%= game.result %> (<a class="underline decoration-2 underline-offset-2 <%= game.result == game.predicted_result ? "decoration-lime-600" : "decoration-red-600" %>"><%= game.predicted_result %></a>)</td>
    <td><%= game.total_tries %> (<%= game.predicted_total_tries %>)</td>
    <td><%= game.total_points %> (<%= game.predicted_total_points %>)</td>
    <td><%= game.win_margin %> (<%= game.predicted_win_margin %>)</td>
    <td><%= game.stadium %></td>
    <td><%= game.city %></td>
    <td><%= game.season %></td>
    <td><%= game.round %></td>
    <td><%= time_ago_in_words(game.kickoff_time) %></td>
  </tr>
<% end %>
