<%= turbo_stream_from @games %>

<div class="container mx-auto overflow-x-auto mb-10">

  <div class="overflow-x-auto mb-5">

    <div class="w-full shadow stats mb-10">
      <div class="stat place-items-center place-content-center">
        <div class="stat-title">Games loaded</div>
        <div class="stat-value"><%= @games.count %></div>
      </div>

      <div class="stat place-items-center place-content-center">
        <div class="stat-title">Result model accuracy</div>
        <div class="stat-value"><%= (Eps.metrics(@games.map(&:result), @games.map(&:predicted_result))[:accuracy] * 100).round(2) %>%</div>
      </div>

      <div class="stat place-items-center place-content-center">
        <div class="stat-title">Tries model RMSE</div>
        <div class="stat-value"><%= Eps.metrics(@games.map(&:total_tries), @games.map(&:predicted_total_tries))[:rmse].round(2) %></div>
      </div>

      <div class="stat place-items-center place-content-center">
        <div class="stat-title">Points model RMSE</div>
        <div class="stat-value"><%= Eps.metrics(@games.map(&:total_points), @games.map(&:predicted_total_points))[:rmse].round(2) %></div>
      </div>

      <div class="stat place-items-center place-content-center">
        <div class="stat-title">Margin model RMSE</div>
        <div class="stat-value"><%= Eps.metrics(@games.map(&:win_margin), @games.map(&:predicted_win_margin))[:rmse].round(2) %></div>
      </div>
  </div>

  <table class="table w-full table-compact">
    <thead>
      <tr>
        <th>Title</th>
        <th>Result (pred.)</th>
        <th>Tries (pred.)</th>
        <th>Points (pred.)</th>
        <th>Win margin (pred.)</th>
        <th>Stadium</th>
        <th>City</th>
        <th>Season</th>
        <th>Round</th>
        <th>Kickoff time</th>
      </tr>
    </thead>

    <tbody>
      <%= turbo_frame_tag "games" do %>
        <%= render @games %>
      <% end %>
    </tbody>
  </table>
</div>
