<%= turbo_stream_from @game %>
<%= turbo_stream_from @game, :game_events %>

<%= turbo_frame_tag dom_id(@game) do %>
  <p>title: <%= @game.title %></p>
<% end %>

<div style="padding:5px;" id="game_events">
  <p>Showing last 10 game events of <%= @game.game_events.count %> events</p>
  <p><%= render @game.game_events.order(game_seconds: :desc).limit(10) %></p>
</div>
